<!doctype html>
<html lang="ru">
<head>
    <title>Trello Board</title>
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div id="app">
    <!-- my app renders here -->
    </div>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="static/js/jquery-3.1.0.min.js"></script>
    <script src="static/js/react.js"></script> 
    <script src="static/js/react-dom.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/client.js"></script>
    <script src="static/js/app.js" type="text/babel"></script>
</body>
</html>























